<div class="checklist-wrapper" ui-view="">
  <div class="checklist-main">
    <div class="checklist-avatar">
      <div class="checklist-ava">
        <img ng-src="{{vm.user.avaUrl}}" alt="">
      </div>

    </div>
    <div class="pers-info">
      <span>Имя{{vm.name}}</span>
    </div>
    <form action="" class="checklist-form">
      <div class="form-content">
        <input type="text" class="md-block input" ng-model="vm.id" placeholder="ВВЕДИТЕ КОД">
        <a href="" class="icon" ng-click="vm.sendId(vm.id)">
          <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </form>

  </div>

</div>

</div>