<div class="checklist-wrapper" ui-view="">
  <div class="checklist-main">
    <div class="checklist-avatar">
      <div class="checklist-ava">
        <div class="checklist-ava-content">
          <img ng-src="{{vm.userData.avatarurl ? vm.userData.avatarurl : '../../images/users.png'}}" alt="">
        </div>
      </div>
    </div>
    <div class="pers-info">
      <span>{{vm.userData.firstname}} {{vm.userData.lastname}}</span>
    </div>
    <form class="checklist-form" ng-submit="vm.sendCode(vm.code)">
      <div class="form-content" ng-if="!vm.isCodeSent">
        <input type="text" class="md-block input" ng-model="vm.code" placeholder="ВВЕДИТЕ КОД">
        <button class="icon" type="submit">
          <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="form-content" ng-if="vm.isCodeSent">
        <span> Oh, ja! - Dast ist fantastisch</span>
      </div>
    </form>
    <a href="" ng-click="vm.goParent()" ng-if="!vm.isCodeSent">
      <span> Ит с нот ми! </span>
    </a>
  </div>
</div>

</div>
<div class="footer">
  <span>© 2008-2017 MADE WITH LOVE ❤️ BY MIRUSDESK | RELEASE 3.0 </span>
</div>