.checklist-wrapper {
    flex: 1;
    margin:auto;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    /*background-color: aliceblue;*/
    /*border: solid 1px #fff;*/
    border-radius: 4px;
    padding: 30px;
    display: flex;
}

.checklist-main {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    /*background: #00B7FF;*/
    min-width: 300px;
    max-height: 300px;
    padding: 35% 20%;

}
    .checklist-main .pers-info{
        min-width: 100%;
        max-width: 100%;
        min-height: 30px;
        /*background-color: #eeeeee;*/
        display: flex;
        flex-flow: row wrap;
    }
        .pers-info span {
            margin: auto;
            font-size: 18px;
            font-weight: 600;
        }

.checklist-avatar {
    flex: 1;
    display: flex;
    max-height: 70px;
    margin-bottom: 10px;
}

.checklist-avatar .checklist-ava {
    flex: auto;
    margin: auto;
    /*background: #ffffff;*/
    background-color: transparent;
    border-radius: 100%;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    border: solid 1px #ffffff;
    display: flex;
}
    .checklist-ava img {
        min-width: 53px;
        min-height: 53px;
        max-width: 53px;
        border-radius: 100%;
        /*margin: 5px;*/
        flex: 1;
        margin: auto;
        background-color: #ffffff;
    }

.checklist-form {
    flex: 5;
    display: flex;
    flex-flow: row wrap;
    max-height: 50px;
    /*background-color: red;*/
    padding-left: 68px;
}
    .checklist-form .form-content {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .checklist-form .input {
        margin: auto;
        flex: 5;
        border: solid 1px;
        border-radius: 3px;
        min-width: 150px;
        max-width: 150px;
        min-height: 30px;
        padding: 0 10px;
        font-size: 14px;
    }
    .checklist-form .icon {
        flex: 1;
        min-height: 30px;
        padding: 0 20px;
        margin: auto;
    }