body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
  margin: auto;
  max-width: 100%;
  min-width: 100%;
  /*background: #fff;*/
  min-height: 400px;
  /* height: 50%; */
  /* padding: 0px; */
  border-radius: 3px;
  display: flex;
  flex-flow: column wrap;
}


.form_content {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.form_header {
  border-radius: 2px;
  background-color: antiquewhite;
  width: 355px;
  height: 50px;
  /*padding-left: 30px;*/
  /*padding-top: 10px;*/
}

.form_body {
  width: 355px;
  background: rgba(255, 0, 0, 0.3);
  display: flex;
  /* padding: 20px; */
  height: 230px;
}
.form-footer {
  width: 355px;
  /*background: aliceblue;*/
  display: flex;
  /*padding: 20px;*/
}

.form-footer .md-button {
  margin: auto;
}

.form-web-content {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

#webcam {
  margin: auto;
  /*width: 100%;*/
  display: flex;
  flex-flow: column nowrap;
  /*padding: 0 10%;*/
  /*background: antiquewhite;*/
}

#webcam .webcam{
  margin: auto;
}

.custom_btn {
  /*margin-left: 0 !important;*/
  width: 94%;
  margin: auto;
}

.foto-cont {
  /*display: flex;*/
  /*flex-flow: column wrap;*/
  /*margin: auto;*/
  margin: auto;
  /*width: 100%;*/
  display: flex;
  flex-flow: column nowrap;
}