<div class="checklist-wrapper" ui-view="">
  <div class="checklist-main">
    <div class="checklist-avatar">
      <div class="checklist-ava">
        <div class="checklist-ava-content">
          <img ng-src="{{vm.data.avatarurl ? vm.data.avatarurl : '../../images/users.png'}}" alt="">
        </div>
      </div>
    </div>
    <div class="pers-info">
      <span>{{vm.userData.firstname}} {{vm.userData.lastname}}</span>
    </div>
    <form class="checklist-form" ng-submit="vm.sendCode(vm.code)">
      <div class="form-content">
        <input type="text" class="md-block input" ng-model="vm.code" placeholder="ВВЕДИТЕ КОД">
        <button class="icon" type="submit">
          <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </form>

  </div>
</div>

</div>