<div class="checklist-main">
  <div class="checklist-avatar">
    <div class="checklist-ava">
      <div class="checklist-ava-content">
        <img ng-src="{{vm.userData.avatarurl  ? vm.userData.avatarurl : '../../images/users.png'}}" alt="">
      </div>
    </div>

  </div>
  <div class="pers-info">
    <span>{{vm.userData.firstname}} {{vm.userData.lastname}} введите ссылку на инсайт</span>
    <br>
    <!--<span>Пожалуйста </span>-->
  </div>
  <!--<form class="checklist-form">-->
    <!--<div class="form-content">-->
      <!--<input type="text" class="md-block input" ng-model="vm.data.insight" placeholder="Ссылка на инсайт">-->
      <!--<a href="" class="icon" ng-click="vm.sendReport()">-->
        <!--<i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>-->
      <!--</a>-->
    <!--</div>-->
  <!--</form>-->
  <form class="checklist-form" ng-submit="vm.sendReport()">
    <div class="form-content">
      <textarea class="text-area" name="" id="" cols="30" rows="10" ng-model="vm.data.insight" ></textarea>
      <!--<input type="text" class="md-block input" ng-model="vm.data.report" placeholder="Отчет">-->
      <button class="icon" type="submit">
        <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>
</div>