<div class="checklist-main">
  <div class="checklist-avatar">
    <div class="checklist-ava">
      <div class="checklist-ava-content">
        <img ng-src="{{vm.userData.avatarurl  ? vm.userData.avatarurl : '../../images/users.png'}}" alt="">
      </div>
    </div>
  </div>
  <div class="pers-info">
    <span>{{vm.userData.firstname}}, заполните форму отчета</span>
  </div>
  <form class="checklist-form" ng-submit="vm.setReport()">
    <div class="form-content">
      <textarea class="text-area" name="" id="" cols="30" rows="10" ng-model="vm.data.report" ></textarea>
      <!--<input type="text" class="md-block input" ng-model="vm.data.report" placeholder="Отчет">-->
      <button class="icon" type="submit">
        <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>
</div>