<div class="checklist-wrapper" ui-view="">
  <div class="checklist-main">
    <div class="checklist-avatar">
      <div class="checklist-ava">
        <div class="checklist-ava-content">
          <img class="rot180" src="../../images/key.png" alt="">
        </div>

      </div>

    </div>
      <!--<div class="checklist-input"></div>-->
      <!--<div class="checkli"></div>-->
      <!--<md-input-container class="md-block input">-->
        <!--<label for="testInput">ВВЕДИТЕ СВОЙ ID</label>-->
        <!--<input id="testInput" ng-model="vm.employee_id" md-autofocus type="text">-->
      <!--</md-input-container>-->
      <form class="checklist-form" ng-submit="vm.sendId(vm.id)">
        <div class="form-content">
          <input type="text" class="md-block input" ng-model="vm.id" placeholder="ВВЕДИТЕ СВОЙ ID">
          <button class="icon" type="submit">
            <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="footer">
  <span>© 2008-2017 MADE WITH LOVE ❤️ BY MIRUSDESK | RELEASE 3.0 </span>
</div>