<div class="checklist-wrapper" ui-view="">
  <div class="checklist-main">
    <div class="checklist-avatar">
      <div class="checklist-ava">
        <img src="../../images/key.png" alt="">
      </div>

    </div>
      <!--<div class="checklist-input"></div>-->
      <!--<div class="checkli"></div>-->
      <!--<md-input-container class="md-block input">-->
        <!--<label for="testInput">ВВЕДИТЕ СВОЙ ID</label>-->
        <!--<input id="testInput" ng-model="vm.employee_id" md-autofocus type="text">-->
      <!--</md-input-container>-->
      <form class="checklist-form">
        <div class="form-content">
          <input type="text" class="md-block input" ng-model="vm.id" placeholder="ВВЕДИТЕ СВОЙ ID">
          <a href="" class="icon" ng-click="vm.sendId(vm.id)">
            <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
          </a>
        </div>
      </form>

    </div>

  </div>

</div>